.git/
.mypy_cache/
.opencode/
.pytest_cache/
.venv/
.venv.vm/
.vscode/
__pycache__/
*.egg-info/

atom/
build/
data/
dist/
dumps/
experiments/
htmlcov/
img/
spd/

.coverage
.log
*.dat
*.env
*.in
*.xml
settings.ini

.*.ini
.*.ipynb
.*.json
.*.py
