.git/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
__pycache__/
*.egg-info/

atom/
build/
data/
dist/
dumps/
htmlcov/
img/
spd/

.coverage
.log
*.dat
*.env
*.in
*.xml
settings.ini

.*.ini
.*.ipynb
.*.json
.*.py
